/DP_Mikhailova_Daria_2016.synctex.gz
/DP_Mikhailova_Daria_2016.toc
/DP_Mikhailova_Daria_2016.bbl
/DP_Mikhailova_Daria_2016.aux
/DP_Mikhailova_Daria_2016.log
/DP_Mikhailova_Daria_2016.lof
/DP_Mikhailova_Daria_2016.out
/DP_Mikhailova_Daria_2016.blg
